/* Reset CSS */

body {
    background-image: url('background.jpg');
    background-size: cover; /* This ensures the background image covers the entire viewport */
    background-position: center; /* This centers the background image */
    /* You can add more background properties as needed */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: orangered;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    background: linear-gradient(135deg, #FF0080, #7928CA), url('background.jpg');
    background-size: cover;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

header p {
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background: #ff6600;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #ff8533;
}

section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feature {
    text-align: center;
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-10px);
}

.feature img {
    width: 100px;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 18px;
}

footer {
    background: #333 url('background.jpg');
    background-size: cover;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
